.upperCard {
  background-color: #4b4ffb;
  border-radius: 15px;
  z-index: 3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 100px;
  width: 100px;
  position: relative;
  top: 60px;
  left: 30px;
}

.belowCard {
    background-color: #EEEAEA;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 140px;
    width: 100px;
    border-radius: 15px;
    
}
