
footer {
  position: fixed;
  width: 100%;
  background-color: #263238;
  height: 50px;
  padding: 20px;
  left: 0;
  bottom: 0;
  border-radius: 30px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-bottom: 10px;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}